@import './styles/base.css';
@import './styles/bill.css';
@import './styles/form.css';
@import './styles/print.css';
@import './styles/responsive.css';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}